<!DOCTYPE html>
<!-- saved from url=(0033)https://cdetestapp.mybluemix.net/ -->
<div style="width:100%;">
	<div class="display_logo">
		<img src="/assets/cdetestapp.png">
	</div>
	<div class="display_search_text">
		<input id="search_text" type="text" class="search_textbox" onkeydown="if (event.keyCode == 13) { searchEnter() }">
	</div>
	<div class="display_buttons">
		<!-- table required for safari windows -->
		<table>
			<tbody><tr>
				<td>
					<input id="search_button" type="button" value="Twitter Search" class="search_button" onclick="searchTweets(searchText())">
				</td>
				<td>
					<input type="button" value="Twitter Count" class="search_button" onclick="countTweets(searchText())">
				</td>
			</tr>
		</tbody></table>
	</div>
</div>

<div id="display_spinner" class="display_spinner">
</div>
<div style="width:100%;">
	<div id="display_query" class="display_query">
	</div>
	<div id="display_count" class="display_count">
	</div>
</div>
<div style="width:100%;">
	<div id="display_markup" class="center">
	</div>
</div>

<script type="text/javascript">
	var count_tweets_url = "<%= count_tweets_path %>";
	// var service_url = "<%#= @service_url %>";
	// var service_port = "<%#= @service_port %>";
</script>
