<!DOCTYPE html>
<html>
<head>
  <title>IBM Insights for Twitter Demo App</title>
	<link rel="shortcut icon" href="https://cdetestapp.mybluemix.net/twitter_favicon.png">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
